@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 10px;
}

.content {
  background-color: #353535;
  color: white;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__list {
  list-style: none;
  padding: 0;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  background-color: #F6F6F6;
  padding-bottom: 23px;
  position: relative;
}

.reservation__header {
  background-color: #EAEAEA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.reservation__title {
  text-align: center;
  width: 71%;
}

.reservation__text {
  text-align: center;
  width: 90%;
}

.btn__style {
  padding: 15px 32px;
  border-radius: 30px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

.restaurants__title {
  width: 100%;
}

.restaurants__card {
  overflow: hidden;
  height: 280px;
  min-width: 320px;
  border-radius: 20px;
  background: white;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 20px;
}

.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}

.restaurants__card__hero {
  position: absolute;
  top: 8%;
  left: 70%;
  padding: 9px 17px;
  border-radius: 6px;
  background: #99E2D0;
}

.restaurants__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
}

.restaurants__card__info__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurants__card__info__text h3,
.restaurants__card__info__text p {
  margin: 0;
}

.functioning {
  margin-top: 20px;
  position: relative;
  padding: 10px;
}

.functioning__list {
  position: relative;
}

.functioning__card {
  padding: 20px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  margin-top: 20px;
}

.functioning__card:hover {
  background-color: #9356DC;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.functioning__card i {
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: blue;
  }
  .restaurants {
    background-color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants__card {
    min-width: 34%;
  }
  .functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .functioning__list {
    position: relative;
  }
  .functioning__card {
    padding: 20px;
    border-radius: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F6;
    margin-top: 20px;
  }
}

.acceuil {
  height: 100%;
  width: 100%;
  background-color: red;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acceuil h1 {
  font-size: 120px;
  margin-bottom: 450px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letter {
  color: rebeccapurple;
  font-size: 80px;
  letter-spacing: 60px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    color: magenta;
    text-shadow: 0 0 7px darkmagenta;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: magenta;
    text-shadow: 0 0 7px darkmagenta;
  }
}

@keyframes flash {
  0% {
    color: magenta;
    text-shadow: 0 0 7px darkmagenta;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: magenta;
    text-shadow: 0 0 7px darkmagenta;
  }
}

.letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.out {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.title_font {
  font-family: 'Shrikhand', cursive;
  font-style: italic;
  color: red;
}

.title_font--white {
  color: white;
}

/**** HEADER *****/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/***** MAIN *****/
.main__header {
  margin-top: 20px;
}

.main__header img {
  max-width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  background-color: #F6F6F6;
  margin-top: -73px;
  border-radius: 25px 25px 0 0;
  height: auto;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.menu__card__info p {
  margin: 0;
}

.menu__card__info h3 {
  margin: 0;
}

.menu__card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
}

/*** CTA ***/
.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */