@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.content {
  background-color: #353535;
  color: white;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__list {
  list-style: none;
  padding: 0;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  background-color: #F6F6F6;
  padding-bottom: 23px;
  position: relative;
}

.reservation__header {
  background-color: #EAEAEA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.reservation__title {
  text-align: center;
  width: 71%;
}

.reservation__text {
  text-align: center;
  width: 90%;
}

.btn__style {
  padding: 15px 32px;
  border-radius: 30px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.restaurants {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurants__title {
  width: 100%;
}

.restaurants__card {
  overflow: hidden;
  height: auto;
  width: 95%;
  border-radius: 20px;
  background: white;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 20px;
}

.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}

.restaurants__card__hero {
  position: absolute;
  top: 8%;
  left: 70%;
  padding: 9px 17px;
  border-radius: 6px;
  background: #99E2D0;
}

.restaurants__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.restaurants__card__info__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.functioning {
  margin-top: 20px;
  position: relative;
}

.functioning__list {
  position: relative;
}

.functioning__card {
  padding: 20px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  margin-top: 20px;
}

.functioning__card:hover {
  background-color: #9356DC;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.functioning__card i {
  padding: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__header img {
  max-width: 100%;
  max-height: 500px;
}

.title_font {
  font-family: 'Shrikhand', cursive;
  font-style: italic;
  color: red;
}

.title_font--white {
  color: white;
}
/*# sourceMappingURL=style.css.map */