@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**************** VARIABLES ****************/
$primary:#9356DC;
$secondary:#FF79DA ;
$tertiary:#99E2D0;
$bgcard:#F6F6F6;


body{
    font-family: 'Roboto', sans-serif;
}

@mixin title-font {
    font-family: 'Shrikhand', cursive;    
}
@mixin top-space{
    margin-top: 20px;
}

/**************** HEADER ****************/
#header__logo{
    display: flex;
    justify-content: center;
    margin: auto;
}
/**************** MAIN ************************/

/**************** RESERVATION ****************/
.reservation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include top-space;
    background-color: $bgcard;
    padding-bottom: 23px;
    position: relative;

    &__header{
        background-color: #EAEAEA;
        align-items: center;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    &__title{
        text-align: center;
        width: 71%;
    }
    &__text{
        text-align: center;
        width: 90%;
    }
    &__btn{
        padding: 15px 32px;
        border-radius: 30px;
        border: none;
        background-color: $secondary;
        color: white;
        cursor:pointer;
    }

}
/**************** FUNCTIONING ****************/
.functioning{
    @include top-space;
    position: relative;
    &__list{
        position: relative;
    }
    &__card{
        padding: 20px;
        border-radius: 15px;
        align-items: center;
        background-color: $bgcard;
        @include top-space;
    }
    &__card i{
        padding: 10px;
    }
}

