@media screen and (min-width: 720px) and (max-width: 992px) {

    .menu__card h3{
        width: 330px;
    }
    .menu__card:hover h3{
        width: 330px;
    }
    .menu__card p {
        width: 330px
    }
    .menu__card:hover p{
        width: 330px;
    }   


}