@import "../utils/variables.scss";
.reservation__cta {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn__style{
    padding: 15px 32px;
    border-radius: 30px;
    border: none;
    color: white;
    background: linear-gradient(to bottom right,$secondary,$primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
    transition: all .5s ease-in-out;
    &:hover{
        background-color: #C380E5;
        background-blend-mode: lighten;
        box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 15px; 

    }
}