@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.functioning{
    @include top-space;
    position: relative;
    padding: 47px;
    & h2{
        width: 100%;
    }
    &__list{
        position: relative;
    }
    &__card{
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        border-radius: 15px;
        align-items: center;
        background-color: $bgcard;
        @include top-space;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    &__card:hover{
        background-color: hsl(278, 60%, 90%);
        transition: all .5s ease;
        & i{
            color: $primary;
        }
        
    }
    &__card__number{
        background-color: $primary;
        color: white;
        border-radius: 55%;
        padding: 6px 10px;
        margin-left: -37px;
    }
    &__card i{
        padding: 10px;
        color: #7E7E7E;
    }
}
