.header{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    &__icon{
        position: absolute;
        align-self: center;
        left: 10%;
    }
    &__logo{
        margin: 0;
    }
}