.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-animation: transparent;
          animation: transparent;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #dddddd;
  border-top-color: violet;
  border-bottom-color: violet;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

.out {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

@-webkit-keyframes transparent {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes transparent {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0%;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.white {
  color: white;
}

@media screen and (max-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

.restaurants__title {
  width: 100%;
}

.restaurants__card {
  overflow: hidden;
  height: 280px;
  min-width: 320px;
  border-radius: 20px;
  background: white;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.restaurants__card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}

.restaurants__card__hero {
  position: absolute;
  top: 8%;
  left: 70%;
  padding: 9px 17px;
  border-radius: 6px;
  background: #99E2D0;
}

.restaurants__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
}

.restaurants__card__info__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurants__card__info__text h3, .restaurants__card__info__text p {
  margin: 0;
}

.restaurants__card__info__fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=restaurants.css.map */